extends ../layout

block contents
  - if(confirmChangePasswordError == true)
      .alert.alert-warning.alert-block
        p  Provided information is incorrect. Please enter the correct email and Password
  - if(allowChange === true)
    .container
      br
      .row
        .span7
          h2 Change my password
          p Password must be at least 9 characters long!
          form.well.form-horizontal#changePassword(action='/forgotpassword/#{confirmCode}', method='post')
            fieldset
              .control-group
                label.control-label(for='Email') Email
                .controls
                  input#email(type='text', name='email', placeholder = 'Email')            
              .control-group
                label.control-label(for='password') Password
                .controls
                  input#password(type='password', name='password', placeholder = 'Password')
              .control-group
                label.control-label(for='confirmPassword') Confirm Password
                .controls
                  input#confirmPassword(type='password', name='confirmPassword', placeholder = 'Confirm Password')
              .form-actions
                button.btn.btn-success(type='submit') Submit new password
          - if(typeof(errorsInput) != 'undefined')
            each err in errorsInput
              each val,key in err
                - if(key == 'msg')
                  .alert.alert-error.alert-block
                    a.close(data-dismiss='alert', href='#') ×
                    h4.alert-heading Error!
                    p #{val}

  - else
    .alert.alert-block.alert-error
      h4 Change password request has expired! 
      p If you want to change your password. Go to the 
        a.btn.btn-info(href='/forgotpassword') change password page.

  
 


append footer  
  script(src = '/js/libs/jquery.validate.min.js')
  script(src = '/js/enter.js')
  script(src = '/js/libs/jquery.maskInput.min.js')
  script
    $(document).ready(function () {
      $('#changePassword').validate({
          rules: {
            email: {
              required: true,
              email: true
            },
            password: {
              minlength: 9,
              required: true,
              equalTo: '#confirmPassword'
            },
            confirmPassword :{
              minlength: 9,
              required: true
              
            }
          },
          highlight: function(label) {
            $(label).closest('.control-group').addClass('error');
          },
          success: function(label) {
            label
              .text('OK!').addClass('valid')
              .closest('.control-group').addClass('success');
          },
          messages: {
            email:{
              required: "Please enter your email"
            },
            password:{
              minlength: "Password must be at least 9 characters long",
              required: "Please enter your password"
            },
            confirmPassword : {
              minlength: "Password must be at least 9 characters long",
              required: "Password must be confirmed!",
              equalTo: "Enter the same password",
            }
          }
        });
      });























