extends ../layout

block contents




    .container
      br
      
      .row
        .span7
          h2 I forgot my password
          form.well.form-horizontal#requestChangePassword(action='/forgotpassword', method='post')
            fieldset
              .control-group
                label.control-label(for='Email') Email
                .controls
                  input(type='text', name='email', placeholder = 'Email')
              .control-group
                label.control-label(for='userType') I am a
                .controls
                  select(name = 'userType')
                    option(value = 'realEstateAgent') Real Estate Agent
                    option(value = 'loanOfficer') Loan Officer 
                    option(value='client') Client         
              .form-actions
                button.btn.btn-success(type='submit') Forgot my password
          - if(EmalingMessage === true)
            .alert.alert-block.alert-success
              h4 An Email will be sent to your inbox.
              p Please check your spam folder if you have not received anything in a few minutes.


          - if(errorData == true)
            .alert.alert-warning.alert-block
              p  Data not found      

          


append footer  
  script(src = '/js/libs/jquery.validate.min.js')
  script(src = '/js/enter.js')
  script(src = '/js/libs/jquery.maskInput.min.js')


  script
    $(document).ready(function () {
      $('#requestChangePassword').validate({
          rules: {
            email: {
              required: true,
              email: true
            }
          },
          highlight: function(label) {
            $(label).closest('.control-group').addClass('error');
          },
          success: function(label) {
            label
              .text('OK!').addClass('valid')
              .closest('.control-group').addClass('success');
          },
          messages: {
            email:{
              required: "Please enter your email"
            }
          }
        });
      });








