.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') Angello Patricio Pozo
      .nav-collapse
        ul.nav
          li
            a(href='/resume') Resume
          li
            a(href='/projects') Projects
          li
            a(href='/experience') Experience
          li 
            a(href='/aboutme') About me
      ul.nav.pull-right    
        li.divider-vertical  
br
br