extends layout



block contents


  .container
    .row
      .span2
        h1
      .span8.pagination-centered
        //- h2 Make all your prospects into clients
        h2 Convert prospects to clients
      .span2
        h1
        
    .row
        //- .hero-unit
        //-   h1 Client Classifier
        //-   p Optimize your work schedule      
        img(src='/img/Client Classifier WEB BANNER 2.jpg')
        button.btn.btn-success.btn-block(href='#', data-toggle='modal', data-target='#registerModal') Register for FREE now 
        //- iframe#videoShift(src='http://player.vimeo.com/video/39285609', width='500', height='275', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
        //-   p
        //-       a(href='http://vimeo.com/39285609') Movitz!
        //-       | from
        //-       a(href='http://vimeo.com/user4665286') Peter Sporremark
        //-       | on
        //-       a(href='http://vimeo.com') Vimeo
        //-       | .      
      .span2
        h1
      .span8

    .row
      .span12
        .page-header
          h2
            | How does it work?
            small Simply
            

    .row
      img(src = '/img/onetwothree-v2.png')


    //- .row#blockShiftRight
    //-   .span3
    //-     button.btn.btn-danger.btn-block#debt.calculatorComponent(href='#',data-trigger='manual', data-placement='bottom', rel="popover", title="1. Sum Debt: Credit Report", data-content="Monthly minimum payments") 
    //-       h4 1. Debt
    //-   .span1
    //-     img#imshift(src = '/img/Kudos_for_Webdesigntuts/Add.png', width='32', height='32')
    //-   .span3
    //-     button.btn.btn-success.btn-block#income.calculatorComponent(href='#',data-trigger='manual', data-placement='bottom', rel="popover", title="2. Sum Monthly Income", data-content="Calculate monthly gross income")
    //-       h4 2. Income
    //-   .span1
    //-     img#imshift(src = '/img/Kudos_for_Webdesigntuts/Right.png', width='32', height='32')
    //-   .span3
    //-     button.btn.btn-info.btn-block#financialPicture.calculatorComponent(href='#',data-trigger='manual', data-placement='bottom', rel="popover", title="3. Prioritize Clients", data-content="Is a prospect a real client?")
    //-       h4 3. Purchasing Power
    //- br
    //- br
    //- br
    //- br
    //- br
    //- br







    //- .row
    //-   .span12
    //-     .page-header
    //-       h2
    //-         | What do you get?
    //-         small Features
      

      //- .span12
      //-   h4 Convert your prospects into clients
      //-   //- p Use our simple and powerful CALCULATOR! You will no longer be blind when a prospect approaches you for advice. 

      //-   h4 Classify clients according to financial picture
      //-   //- p Our CALCULATOR will automatically GRADE your prospect by painting their FINANCIAL PICTURE, and will CLASSIFY them in an order of priority and readiness.

      //-   h4 Prioritize your schedule according to their classification
      //-   //- p Once GRADED, our system will ORGANIZE your work schedule providing you the a list of clients to be addressed every DAY, WEEK, OR MONTH.
        
      //-   h4 Improve communication between clients, loan officer, lender and you
      //-   //- p Our system has communication features integrated for day-to-day events. Providing instructions, progress updates, alerts, and time elapsed. 
        
      //-   h4 Maximize your production and results
      //-   //- p Simply follow the suggested CLASSIFICATION of your clients, with their respective PRIORITIZATION and put in practice the SCHEDULING and the results of your production will amaze you.  
       
      //-   h4
      //-   p


      //- .span4
      //-   h4 Convert your prospects into clients
      //-   p Use our simple and powerful CALCULATOR! You will no longer be blind when a prospect approaches you for advice. 
      //- .span4
      //-   h4 Classify clients according to financial picture
      //-   p Our CALCULATOR will automatically GRADE your prospect by painting their FINANCIAL PICTURE, and will CLASSIFY them in an order of priority and readiness.
      //- .span4
      //-   h4 Prioritize your schedule according to their classification
      //-   p Once GRADED, our system will ORGANIZE your work schedule providing you the a list of clients to be addressed every DAY, WEEK, OR MONTH.



      //- .span4
      //-   h4 Improve communication between clients, loan officer, lender and you
      //-   p Our system has communication features integrated for day-to-day events. Providing instructions, progress updates, alerts, and time elapsed. 
      //- .span4
      //-   h4 Maximize your production and results
      //-   p Simply follow the suggested CLASSIFICATION of your clients, with their respective PRIORITIZATION and put in practice the SCHEDULING and the results of your production will amaze you.  
      //- .span4
      //-   h4
      //-   p


      //- .span4
      //-   h4 Identify 'A' grade clients Easily
      //-   p Become a top producer by identifying your clients purchasing power      
      //- .span4
      //-   h4 Oraganize and manage your clients
      //-   p Optimize your time by knowing which client to concentrate on
      //- .span4
      //-   h4 Direct connection to loan officer  
      //-   p Communication, status and instructions modules to help you close your client


    .row
      .span12
        .page-header
          h2
            | What do you get?
            small Features
    .row
      .span12



        table.table.table-bordered
          thead
            tr
              td#indexGrid Feature
              //- td#indexGrid
              td#indexGrid Explanation
            tr
              td
                strong Convert your prospects into clients
              //- td
                //- img(src = '/img/Kudos_for_Webdesigntuts/Right.png')
              td Use our simple and powerful 
                u calculator
                | , you will no longer be blind when a prospect approaches you for advice.
            tr
              td
                strong Classify clients according to financial picture
              //- td
                //- img(src = '/img/Kudos_for_Webdesigntuts/Right.png')
              td Our 
                u calculator 
                | will automatically 
                u grade
                |  your prospect by painting their 
                u purchasing power
                |, and will 
                u classify
                |  them in an order of priority and readiness.
            tr
              td 
                strong Prioritize your schedule according to their classification
              //- td
                //- img(src = '/img/Kudos_for_Webdesigntuts/Right.png')
              td Once 
                u graded
                | , our system will 
                u organize
                |  your work schedule providing you the a list of clients to be addressed every 
                u day, week, or month.
            tr
              td 
                strong Improve communication between clients, loan officer, lender and you
              //- td
                //- img(src = '/img/Kudos_for_Webdesigntuts/Right.png')
              td Our system has communication features integrated for day-to-day events. Providing instructions, progress updates, alerts, and time elapsed.
            tr
              td 
                strong Maximize your production and results
              //- td
                //- img(src = '/img/Kudos_for_Webdesigntuts/Right.png')
              td Simply follow the suggested 
                u classification
                |  of your clients, with their respective 
                u prioritization
                |  and put in practice the 
                u scheduling
                |  and the results of your production will amaze you.


    //- .row
    //-   .span12
    //-     .page-header
    //-       h2
    //-         | Details
    //-         small Easy
    //- .row
    //-   .span12



    //-     table.table.table-bordered
    //-       thead
    //-         tr
    //-           td#indexGrid Current
    //-           td#indexGrid
    //-           td#indexGrid Client Classifier
    //-         tr
    //-           td Uncertainty of clients purchasing power
    //-           td
    //-             img(src = '/img/Kudos_for_Webdesigntuts/Right.png')
    //-           td Quickly asses clients purchasing power
    //-         tr
    //-           td Haggling loan officer for information
    //-           td
    //-             img(src = '/img/Kudos_for_Webdesigntuts/Right.png')
    //-           td Access information anytime
    //-         tr
    //-           td Difficulty deciding which client to pay attention to
    //-           td
    //-             img(src = '/img/Kudos_for_Webdesigntuts/Right.png')
    //-           td Easly understand which clients to push today, next week or month
    //-         tr
    //-           td Disorganized client pipeline manger
    //-           td
    //-             img(src = '/img/Kudos_for_Webdesigntuts/Right.png')
    //-           td Organized pipeline with prirorities 



    //- br
    //- br
    //- br
    //- .row#shiftRight
    //-   .span5
    //-     h1 Before
    //-   .span2
    //-     img(src = '/img/Kudos_for_Webdesigntuts/Right.png')
    //-     p save time
    //-   .span5
    //-     h1 After

prepend footer
    hr
    .row
      .span2
        p 
      .span2
        p 
      .span2
        p 
      .span2
        a(href='/termsandconditions') Terms of service
      .span2
        a(href='/privacypolicy') Privacy policy
      .span2
        a(href='/contactus') Contact us

append footer
    script(src = '/js/libs/jquery.validate.min.js')
    script(src = '/js/enter.js')
    script(src = '/js/libs/jquery.maskInput.min.js')




