extends ../layout



block contents


  .container
    h2 Web Site Terms and Conditions of Use

    h3 
      strong 1. Terms
    ol(type='a')
      li By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.
      li The content of the pages of this website is for your general information and use only. It is subject to change without notice.
      li This website uses cookies to monitor browsing preferences. If you do allow cookies to be used, the following personal information may be stored by us for use by third parties: Name, Last name, Phone number, Financial Information such as monthly income and monthly debts payments.
      li Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
      li Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
      li This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
      li All trademarks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.
      li Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offence.
      li From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
      li Your use of this website and any dispute arising out of such use of the website is subject to the laws of United States of America.

    h3 
      strong 2. Use License
    ol(type='a')
      li Permission is granted to use our Client Classifier's web site for personal, non-commercial transitory viewing only, upon signing up and upon agreeing to the terms of ALL terms of use. This is the grant of a license, not a transfer of title, and under this license you may not:
        ol(type='I')
         li modify or copy the materials;
         li use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
         li attempt to decompile or reverse engineer any software contained on Client Classifier's web site;
         li remove any copyright or other proprietary notations from the materials; or
         li Transfer the materials to another person or "mirror" the materials on any other server.

    h3 
      strong 3. Disclaimer
    p The materials on Client Classifier's web site are provided "as is". Client Classifier makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Client Classifier does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.


    h3 
      strong 4. Limitations
    p In no event shall Client Classifier or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Client Classifier's Internet site, even if Client Classifier or a Client Classifier authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.


    h3 
      strong 5. Revisions and Errata
    p The materials appearing on Client Classifier's web site could include technical, typographical, or photographic errors. Client Classifier does not warrant that any of the materials on its web site are accurate, complete, or current. Client Classifier may make changes to the materials contained on its web site at any time without notice. Client Classifier does not, however, make any commitment to update the materials.


    h3 
      strong 6. Links
    p Client Classifier has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Client Classifier of the site. Use of any such linked web site is at the user's own risk.

    h3 
      strong 7. Site Terms of Use Modifications
    p Client Classifier may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.


    h3 
      strong 8. Governing Law
    p Any claim relating to Client Classifier's web site shall be governed by the laws of the State of California without regard to its conflict of law provisions.

    h3 
      strong 9.  Website Disclaimer
    p The information contained in this website is for general information purposes only. The information is provided by Client Classifier and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
    p In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.
    p Through this website you are able to link to other websites which are not under the control of Client Classifier. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.
    p Every effort is made to keep the website up and running smoothly. However, Client Classifier takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.


    h3 
      strong 10. Copyright
    p This website and a proportion of its content is copyright of Client Classifier - © Client Classifier 2012. All rights reserved.
    p Any redistribution or reproduction of part or all of the contents in any form is prohibited other than the following: you may print or download to a local hard disk extracts for your personal and non-commercial use only you may copy the content to individual third parties for their personal use, but only if you acknowledge the website as the source of the material.
    p You may not, except with our express written permission, distribute or commercially exploit the content. Nor may you transmit it or store it in any other website or other form of electronic retrieval system.




prepend footer
  hr
  .row
    .span2
      p 
    .span2
      p 
    .span2
      p 
    .span2
      a(href='/termsandconditions') Terms of service
    .span2
      a(href='/privacypolicy') Privacy policy
    .span2
      a(href='/contactus') Contact us

append footer
  script(src = '/js/libs/jquery.validate.min.js')
  script(src = '/js/enter.js')
  script(src = '/js/libs/jquery.maskInput.min.js')
